<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>A Human Foundry Christmas</title>
    <meta name="description" content="Google Cloud Speech Recognition with Node and Socket.io">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <audio></audio>
    <div class="wrapper">
        <button id="startRecButton" type="button">Start</button>
        <button id="stopRecButton" type="button"> Stop recording</button>
    </div>

    <!-- Socket -->
    <script src="assets/js/socket.io.js"></script>

    <!-- Client -->
    <script src="assets/js/client.js"></script>
</body>

</html>