<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>GCloud Speech Recognition Node + Socket.io</title>
    <meta name="description" content="Google Cloud Speech Recognition with Node and Socket.io">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="wrapper">
        <h1>Google Cloud Speech Node with Socket.io Playground</h1>

        <audio></audio>

        <br>
        <button id="startRecButton" type="button"> Start recording</button>
        <button id="stopRecButton" type="button"> Stop recording</button>
        <div id="recordingStatus">&nbsp;</div>
        <br>

        <div>
            <p id="ResultText">
                <span class="greyText">No Speech to Text yet
                    <span>
            </p>
        </div>

        <br>
        <br>
    </div>

    <!-- Nlp -->
    <script src="https://unpkg.com/compromise@latest/builds/compromise.min.js"></script>

    <!-- Socket -->
    <script src="assets/js/socket.io.js"></script>

    <!-- Client -->
    <script src="assets/js/client.js"></script>
</body>

</html>
